{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
    <link rel="stylesheet" href="{% static "/login.css"%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    Signup

    <!-- Login Form -->
    <form method="post">
    {% csrf_token %}

            <input type="text" name="fname" value="" placeholder="FirstName"><br>
            <input type="text" name="lname" value="" placeholder="LastName"><br>
            <input type="text" name="uname" value="" placeholder="UserName"><br>
            <input type="password" name="pass" value="" placeholder="password"><br>
            <input type="email" name="email" value="" placeholder="Email"><br>
            <input type="tel" name="mobile" value="" placeholder="mobile number"><br>

            <select name="utype">
                <option value="buyer">Buyer</option>
                <option value="seller">Seller</option>
            </select>

            <input type="submit" name="" value="signup">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
  </body>
</html>
